* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Dela Gothic One', cursive;
    color: #f5f5f5;
}

.container-hero {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background-image: url(./img/pokemon-logo-png-0.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2em;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonName {
    margin-top: 3rem;
    height: 1.5rem;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    padding: 2px 23px 2px 30px;
    outline: 1;
    background-color: #f5f5f5;
    box-shadow:
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
    0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
    0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
}

#search {
    background-color: #f5f5f5;
    box-shadow:
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
    0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
    0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
    margin-top: 3rem;
    margin-left: 0.2rem;
    border: 0;
    border-radius: 5px;
    height: 1.5rem;
    width: 60px;
    color: #cecece;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    padding: 4px 20px 2px 20px;
    transition: all 0.7s ease 0s;
    font-size: 1.2rem;
    line-height: 1rem;
}
    
#search:hover {
    background: #8f8f8f;
}

.luckyBox {
    display: flex;
    justify-content: center;
    align-items: center;

}

#lucky {
    font-family: 'Dela Gothic One', cursive;
    background-color: #f5f5f5;
    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
        0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
        0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0;
    border-radius: 5px;
    height: 1.5rem;
    width: 300px;
    color: #121212;
    cursor: pointer;
    text-decoration: none;
    padding: 4px 20px 30px 20px;
    transition: all 0.7s ease 0s;
    font-size: 1rem;
    line-height: normal;

}

#lucky:hover {
    background: #8f8f8f;
}

/* Pokemon Display container */

.pokemonContainer {
    background-color: white;
    color: #303030;
    height: 700px;
    width: 600px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonInfo {
    margin-top: 30px;
    margin-left: 10px;
}

.pokemonInfo h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.pokemonInfo h3 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.pokemonInfo p {
    font-size: 20px;
}

/* Media queries */
@media (max-width: 640px) {

    .hero-image {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-image: url(./img/pokemon-logo-png-0.png);
        margin-top: 150px;
        opacity: 0.75;
        height: 200px;
        width: 90%;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: contain;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        align-items: center;
        text-align: center;

    }

    h1 {
        font-size: 3rem;
        opacity: 0.75;
    }

    h2 {
        font-size: 1rem;
        opacity: 0.75;
    }

    .pokemonBox {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 400px;
        height: 400px;
    }

}